<ion-header>
  <ion-toolbar>
    <ion-title>Chest & Arms (Day 5)</ion-title>
    <ion-tab-button tab="workouts"><h3>WORKOUTS</h3> </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let post of posts">
  <h4><b>{{post.exercise}}</b></h4><h4>Sets: {{post.set}} Reps: {{post.rep}} Rest: {{post.rest}}</h4>
</ion-content>

  <!--table *ngFor="let post of posts">
    <tr class="test">
      <th>Day</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Rest</th>
    </tr>
    <tr class="test">
      <td>{{post.days}}</td>
      <td>{{post.exercise}}</td>
      <td>{{post.set}}</td>
      <td>{{post.rep}}</td>
      <td>{{post.rest}}</td>
    </tr>
  </table-->
