<ion-header>
  <ion-toolbar>
    <ion-title>workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="secondary">
          <img src="assets/fitness-girl.jpg">
          <ion-tab-button href="day1">
          <h2>Day 1</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="tertiary">
          <img src="assets/fitness-girl.jpg">
          <h2>Day 2</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="danger">
          <img src="assets/fitness-girl.jpg">
          <h2>Day 3</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="success">
          <img src="assets/fitness-girl.jpg">
          <h2>Day 4</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="dark">
          <img src="assets/fitness-girl.jpg">
          <h2>Day 5</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card text-center color="warning">
            <img src="assets/fitness-girl.jpg">
            <h2>Day 6</h2>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="light">
          <img src="assets/fitness-girl.jpg">
          <h2>Day 7</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
