<ion-header>
  <ion-toolbar>
    <ion-title>WORKOUT TIPS</ion-title>
    <ion-tab-button (click)="home()"><h4>HOME</h4> </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="secondary">
          <img src="assets/workout-cards/workout1.png">
          <ion-tab-button tab="day1">
          <h2>Day 1</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="tertiary">
          <img src="assets/workout-cards/workout2.jpg">
          <ion-tab-button tab="day2">
          <h2>Day 2</h2>
          </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="danger">
          <img src="assets/workout-cards/rest.jpg">
          <ion-tab-button tab="day3">
          <h2>REST TIPS</h2>
          </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="success">
          <img src="assets/workout-cards/workout3.jpg">
          <ion-tab-button tab="day4">
          <h2>Day 4</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="dark">
          <img src="assets/workout-cards/workout6.jpg">
          <ion-tab-button tab="day5">
          <h2>Day 5</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card text-center color="warning">
            <img src="assets/workout-cards/rest-day.jpg">
            <ion-tab-button tab="day6">
            <h2>REST TIPS</h2>
          </ion-tab-button>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="light">
          <img src="assets/workout-cards/workout5.png">
          <ion-tab-button tab="day7">
          <h2>Day 7</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
