<ion-header>
  <ion-toolbar>
    <div>
      <img src="../../../assets/logo_long_invert.jpg" alt="Simply Easy Learning" width="100%" height="60px">
    </div>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
      <h1 class="h1">{{fireBaseUser}}</h1>  
      <h1 class="h1">Calendar </h1>
      
      </ion-card>

  <ion-card *ngFor = "let ev of events">
    <ion-card-header>
      {{ ev.title }}
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines >
        <ion-item>
          <ion-icon name="calendar"></ion-icon> Start: {{ ev.startDate}}
        </ion-item>
  
        <ion-item>
          <ion-icon name="calendar"></ion-icon> End: {{ ev.endDate }}
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
      <ion-button color="dark" (click)="addEvent(cal)" expand="block">Add Event</ion-button>
      {{cal.name}}
      <p>{{cal.type}}</p>
    </ion-item>
  </ion-list>

  
</ion-content>
<ion-footer class="footer">
  <ion-button (click)="logOut()" color="danger" expand="block">Log Out</ion-button>
</ion-footer>