<ion-header>
  <ion-toolbar>
    <ion-title>Meal Plans</ion-title>
    <ion-tab-button (click)="home()"><h4>HOME</h4> </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="secondary">
          <img src="assets/meal-cards/Hello_Monday.jpg">
          <ion-tab-button tab="mealday1">
          <h2>MONDAY</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="tertiary">
          <img src="assets/meal-cards/Happy_Tuesday.jpg">
          <ion-tab-button tab="mealday2">
          <h2>TUESDAY</h2>
          </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="danger">
          <img src="assets/meal-cards/Wednesday.jpg">
          <ion-tab-button tab="mealday3">
          <h2>Wednesday</h2>
          </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center color="success">
          <img src="assets/meal-cards/thursday.jpg">
          <ion-tab-button tab="mealday4">
          <h2>Thursday</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="dark">
          <img src="assets/meal-cards/friday.png">
          <ion-tab-button tab="mealday5">
          <h2>Friday</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card text-center color="warning">
            <img src="assets/meal-cards/saturday.jpg">
            <ion-tab-button tab="mealday6">
            <h2>Saturday</h2>
          </ion-tab-button>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center color="light">
          <img src="assets/meal-cards/sunday.png">
          <ion-tab-button tab="mealday7">
          <h2>Sunday</h2>
        </ion-tab-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
