<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign-Up/Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card>
  <h3>Sign-up</h3>
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="inputText" placeholder="Name Input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="tel" [(ngModel)]="inputTel" placeholder="Telephone Number Input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="email"  [(ngModel)]="inputEmail" placeholder="Email Input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" [(ngModel)]="inputPassword"  placeholder="Password Input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="height"  [(ngModel)]="inputHeight" placeholder="Height Input"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="weight"  [(ngModel)]="inputWeight" placeholder="Weight Input"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="reach"  [(ngModel)]="inputReach" placeholder="Arm Reach Input"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" (click)="addItem({name:inputText, tel:inputTel, email:inputEmail, password:inputPassword, height:inputHeight, weight:inputWeight, reach:inputReach})">Sign Up</ion-button>
</ion-card>
<ion-card>
  <h5>Already have an account? Login below</h5>
  <ion-button color="danger">Login</ion-button>
  <br>
  User information for testing
  <ion-list *ngFor="let item of items">
    {{item.name}}
    {{item.tel}}
    {{item.password}}
    {{item.email}}
    {{item.reach}}
  </ion-list>
</ion-card>
</ion-content>