<ion-header>
  <ion-toolbar color ="dark">
    <ion-title text-center>
      Pro-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Segment with default selection -->
<ion-segment (ionChange)="segmentChanged($event)" value="javascript">
  <ion-segment-button [routerLink]="['/tabs','tab2']">
    <ion-label>Profile</ion-label>
  </ion-segment-button>

  <ion-segment-button [routerLink]="['/tabs','tab3']">
    <ion-label>Workout</ion-label>
  </ion-segment-button>

  <ion-segment-button value="javascript">
    <ion-label>Exercises</ion-label>
  </ion-segment-button>

</ion-segment>


  <ion-content padding>
    <ion-slides pager = "true">
      <ion-slide *ngFor="let slide of slider">
        <img [src]="slide.image"/>
        <h2 [innerHTML] = "slide.title"></h2>
        <p [innerHTML] = "slide.description"></p>
      </ion-slide>
    </ion-slides>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
        Workouts
      </ion-card-title>
      <ion-card-subtitle>
        Advanced, simple and sweet
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this we will write intro for workouts
    </ion-card-content>
    </ion-card>

    
    
    <div class = "horizontal-cards">

      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>
          Workouts
        </ion-card-title>
        <ion-card-subtitle>
          Advanced, simple and sweet
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        In this we will write intro for workouts
      </ion-card-content>

      <img src="assets/fitness-girl.jpg">
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>
          Meal Preperations
        </ion-card-title>
        <ion-card-subtitle>
          Advanced, simple and sweet
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        In this we will write intro for workouts
      </ion-card-content>
      <img src="assets/meals.jpg">
      </ion-card>

    </div>

  
  <!--section text-center margin-bottom>
    <ion-icon style="font-size: 5em; color: white;" name="person"></ion-icon>
    <h1 style="font-size: 1.4em; color: white;" no-margin>Welcome, <br>
    Usman</h1>
  </section-->
  
    <!--ion-row-->
      <!--ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </!--ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="trophy"></ion-icon>
          <h2>Workouts</h2>
        </ion-card>
      </ion-col>
    </ion-row-->
    <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="videocam"></ion-icon>
          <h2>Record A Workout</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="apps"></ion-icon>
          <h2>Connected Apps</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="logo-facebook"></ion-icon>
          <h2>Social Media</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="primary">
          <ion-icon style="font-size: 5em;" name="settings"></ion-icon>
          <h2>App Settings</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="iframe-container">
    <iframe padding width="956" height="538" [src]="sanitize(vid)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  
  

  </ion-content>
