
<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color = "dark">
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-content class ="card-background-page">

    <ion-card>
      <img src = "/assets/home-background.jpg"/>
      <div class="card-title">Introduction</div>
      <div class="card-subtitle">est. since 2019</div>
    </ion-card>

    <ion-card>
      <img src = "/assets/fitness-girl.jpg"/>
      <div class="card-title">Introduction</div>
      <div class="card-subtitle">est. since 2019</div>
    </ion-card>

    <ion-card>
      <img src = "/assets/home-background.jpg"/>
      <div class="card-title">Introduction</div>
      <div class="card-subtitle">est. since 2019</div>
    </ion-card>

    <ion-fab right top>
      <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-youtube"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
