<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div full>
    <h1>X: {{x}}</h1>
  </div>
  <div full>
    <h1>Y: {{y}}</h1>
  </div>
  <div full>
    <h1>Z: {{z}}</h1>
  </div>
  <div full>
    <h1>Timestamp: {{timestamp}}</h1>
  </div>

  <button ion-button full (click)="start()">Start Listening</button>
  <button ion-button full (click)="stop()">Stop Listening</button>
  <button ion-button full (click)="startingPosition()">Starting Position</button>

  <div full>
    <h1>Starting X: {{xStart}}</h1>
  </div>
  <div full>
    <h1>Starting Y: {{yStart}}</h1>
  </div>
  <div full>
    <h1>Starting Z: {{zStart}}</h1>
  </div>
  <div full>
    <h1>Puches: {{punch}}</h1>
  </div>

  <div full>
    <h1>Starting Z: {{ters}}</h1>
  </div>

</ion-content>