<ion-header>
  <ion-toolbar>
    <ion-title>REST TIPS (Day 6)</ion-title>
    <ion-tab-button tab="workouts"><h3>WORKOUTS</h3> </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/rest-quote.jpg" width="100%">
  <div class="centre">
    <h2> Rest Days:</h2>
    <h4> 1. Restock Glycogen Stores</h4>
    <h4> 2. Build Strength</h4>  
    <h4> 3. Minimize Fatigue</h4>
    <h4> 4. Reduce Risk of Overuse Injuries</h4>
    <h4> 5. Avoid Mental Burnout</h4>
    <h4> 6. Help Your Body Repair Itself</h4>
  </div>

</ion-content>
