<ion-header>
  <ion-toolbar>
    <ion-title>REST (Day 3)</ion-title>
    <ion-tab-button tab="workouts"><h3>WORKOUTS</h3> </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/workout-cards/rest.jpg" width="100%">
  <div class="centre">
  <h2> Rest & Recovery </h2>
  <h4> 1. Rebuild & Repair Muscle Tissue </h4>
  <h4> 2. Strengthen Joints & Ligaments </h4>  
  <h4> 3. Replenish Fluids & Energy Stores</h4>
  <h4> 4. Refresh Our Mental Energy</h4>
  <h4> 5. Reduce Risk of Injury</h4>
  <h4> 6. Avoid Overtraining</h4>
</div>
       

</ion-content>
