<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">{{fireBaseUser}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-list>
      
      <ion-item>
        <ion-label>Select Time</ion-label>
        <ion-select  (ionChange)="selectChangeHandler($event)">
          <ion-select-option value="1">1 minute</ion-select-option>
          <ion-select-option value="2">2 minutes</ion-select-option>
          <ion-select-option value="3">3 minutes</ion-select-option>
          <ion-select-option value="4">4 minutes</ion-select-option>
          <ion-select-option value="5">5 minutes</ion-select-option>
          <ion-select-option value="6">6 minutes</ion-select-option>
          <ion-select-option value="7">7 minutes</ion-select-option>
          <ion-select-option value="8">8 minutes</ion-select-option>
          <ion-select-option value="9">9 minutes</ion-select-option>
          <ion-select-option value="10">10 minutes</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </div>
  <div class="timerDisplay">
  <svg
    id="progress-circle"
    width = "50vh"
    height="50vh"
    viewbox="0 0 200 200"
    >
    <linearGradient id ="linearColors1" x1="0" y1="0" x2="1" y2="1">
      <stop offset="0%" stop-color = "#ddd6f3"></stop>
      <stop offset="100%" stop-color = "#faaca8"></stop>
    </linearGradient>
    
    <circle
      cx = "50%"
      cy = "50%"
      [attr.r]="circleR"
      fill="none"
      stroke="#f3f3f3"
      stroke-width="12"   
    />
    <circle
      cx = "50%"
      cy = "50%"
      [attr.r]="circleR"
      fill="none"
      stroke="url(#linearColors1)"
      stroke-width="12"  
      stroke-linecap="round"
      [attr.stroke-dasharray]="circleDasharray"
      [attr.stroke-dashoffset]="percentageOffset(percent | async )"
      
    />
    <text x= "50%" y = "55%" class="timer-text">{{time | async }}</text>
  </svg>
  </div>
 
  <div full class="punchDetails" [hidden]=isShown>
    <h1>Punches: {{punch}}</h1>
     <h1>Jabs: {{jab}}</h1>
    <h1>Uppercuts: {{uppercut}}</h1>
    <h1>{{punchName}}</h1>
  </div>
<!--
  <div full class="punchDetails">
    <h1>X: {{x}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Y: {{y}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Z: {{z}}</h1>
  </div>-->

 <!--
  <button ion-button full (click)="start()">Start Listening</button>
  <button ion-button full (click)="stop()">Stop Listening</button>
  <button ion-button full (click)="startingPosition()">Starting Position</button>
  
  <div full class="punchDetails">
    <h1>Starting X: {{xStart}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Starting Y: {{yStart}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Starting Z: {{zStart}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Starting TH: {{thStart}}</h1>
  </div>
  <div full class="punchDetails">
    <h1>Starting MH: {{mhStart}}</h1>
  </div>
  
  
  <div full>
    <h1>difference: {{test}}</h1>
  </div>

  <ion-label>MAGNETION HEADING = {{magneticHeading}}</ion-label><br/><br/>
  <ion-label>TRUE HEADING = {{trueheading}}</ion-label><br/><br/>
  <ion-label>TIMESTAMP = {{timestamp}}</ion-label><br/>
  <ion-label>{{totalTime}}</ion-label><br/>
-->

<ion-card class="punchDetails" [hidden]=isHidden > 
  <div full >
    <h2>Workout Feedback</h2>
    <h3>date: {{ timestamp }} </h3>
    <h3>Total punches today: {{ totalPunches }} </h3>
    <h3>Average punches per minute: {{ punchespermin }} </h3>
    <h3>Number of jabs Today: {{ totJabs }} </h3>
    <h3>number of Uppecuts Today: {{ totUppercuts }} </h3>
  </div>
</ion-card>

</ion-content>
<ion-footer class="footer">
  <ion-button *ngIf="state === 'stop'" expand="block" color="primary" (click)="start()" >Start Timer</ion-button>
  <ion-button *ngIf="state === 'start'" expand="block" color="primary" (click)="stop()">Stop Timer</ion-button>
</ion-footer>