<ion-header>
  <ion-toolbar>
    <div>
      <img src="../../../assets/logo_long_invert.jpg" alt="Simply Easy Learning" width="100%" height="60px">
    </div>      
  </ion-toolbar>
</ion-header>

<section text-center margin-bottom>
  <ion-icon style="font-size: 5em; color: black;" name="person"></ion-icon>
  <h1 style="font-size: 1.4em; color: black;" no-margin>Welcome<br>
  </h1>
</section>


<ion-content padding>

  <ion-slides pager = "true">
    <ion-slide *ngFor="let slide of slider">
      <img [src]="slide.image"/>
      <h2 [innerHTML] = "slide.title"></h2>
      <p [innerHTML] = "slide.description"></p>
    </ion-slide>
  </ion-slides>
  <br><br>

  <ion-card color="white">
    <ion-tab-button tab="workouts">
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        Workouts
      </ion-card-title>
      <ion-card-subtitle style="color: darkolivegreen;">
        Fast | Convenient | Affordable
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Your body hears everything that your mind says.
  </ion-card-content>
  <img src="assets/boxing-stats.jpg">
</ion-tab-button>
</ion-card>


<div class ="center">
  <div class="w3-panel w3-sand w3-leftbar">
    <p><i class="fa fa-quote-right w3-xxlarge w3-opacity"></i><br>
    <i class="w3-serif w3-xlarge">Those who fail to plan, plan to fail</i></p>
    <p>Winston Churchill</p>
  </div> 
  </div>

  
  <ion-card color="white">
    <ion-tab-button tab="meals">
    <ion-card-header>
      <ion-card-title style="text-align: center;">
        7 Day Meal Plan
      </ion-card-title>
      <ion-card-subtitle style="color: darkred;">
        Healthy | Nutritional | Lifestyle
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This months diet is next month's body.
  </ion-card-content>
  <img src="assets/mealprep101.png">
</ion-tab-button>
</ion-card>
</ion-content>