<ion-toolbar color ="dark">
  <ion-title text-center>
    Pro-Box
  </ion-title>
</ion-toolbar>

<section text-center margin-bottom>
  <ion-icon style="font-size: 5em; color: black;" name="person"></ion-icon>
  <h1 style="font-size: 1.4em; color: black;" no-margin>Welcome<br>
  </h1>
</section>


<ion-content padding>

  <ion-slides pager = "true">
    <ion-slide *ngFor="let slide of slider">
      <img [src]="slide.image"/>
      <h2 [innerHTML] = "slide.title"></h2>
      <p [innerHTML] = "slide.description"></p>
    </ion-slide>
  </ion-slides>
  <br><br>

  <ion-card color="light">
    <ion-tab-button href="workouts">
    <ion-card-header>
      <ion-card-title>
        Workouts
      </ion-card-title>
      <ion-card-subtitle>
        Fast | Convenient | Affordable
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Your body hears everything that your mind says.
  </ion-card-content>
  <img src="assets/boxing-stats.jpg">
</ion-tab-button>
</ion-card>

  
  
  <!--div class = "horizontal-cards"-->

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
        Workouts
      </ion-card-title>
      <ion-card-subtitle>
        Fast | Convenient | Affordable
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this we will write intro for workouts
    </ion-card-content>

    <img src="assets/fitness-girl.jpg">
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
        Meal Preperations
      </ion-card-title>
      <ion-card-subtitle>
        Advanced, simple and sweet
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      In this we will write intro for workouts
    </ion-card-content>
    <img src="assets/meals.jpg">
    </ion-card>

  <!--/div-->
</ion-content>