.horizontal-cards{
    padding-left: 35%;
    ion-card{
        display: inline-block;
        width: 256px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
}